.title{
  text-align: center;
  font-size:24px;
  margin:20px auto;
  font-weight: 500;
  padding-bottom:5px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  width:1170px;
  margin:0 auto;
}
.example-form {
  min-width: 500px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
