
<div class = "title">Admin Panel</div>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">price</th>
              <th scope="col">rating</th>
              <th scope="col">Delete</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let product of listOfProducts">
              <th scope="row">{{product.id}}</th>
              <td>{{product.title}}</td>
              <td>{{product.description}}</td>
              <td>{{product.category}}</td>
              <td>{{product.price}}</td>
              <td>{{product.rating.rate}}</td>
              <td><button mat-raised-button color="warn">Delete</button></td>
              <td><button mat-raised-button color="primary">Edit</button></td>
            </tr>

          </tbody>
        </table>
  <!-- Position Column -->
  <div >
</div>
